html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

#root {
  height: 100%;
  width: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}


.App {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: white;
  border-radius: 14px;
  text-align: center;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

code {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 2px 6px;
  border-radius: 4px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}   

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.full-w {
  width: 100%;
}

.full-h {
  height: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}
.sayso-primary-button {
  display: flex;
  gap: 8px;
  border: 1px solid var(--sayso-border);
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  background-color: var(--sayso-indigo) !important;
  color: #FFF;
}
.sayso-outlined-button {
  display: flex;
  gap: 8px;
  border: 1px solid var(--sayso-border);
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  background-color: #FFF !important;
}

.sayso-outlined-button:hover {
  background-color: var(--sayso-white);
}
.sayso-outlined-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.sayso-submit-button {
  display: flex;
  gap: 8px;
  border: 1px solid var(--sayso-blue);
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  background-color: var(--sayso-blue);
  color: #FFF;
}

.sayso-submit-button:hover {
  background-color: var(--sayso-blue);
}