.home-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: var(--sayso-white);
}

/* .layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: var(--sayso-white);
}

.layout-container .home-container {
  width: 100%;
  height: 100%;
  background-color: var(--sayso-white);
} */